obj/JsonTools.csproj.nuget.dgspec.json
obj/JsonTools.csproj.nuget.g.props
obj/JsonTools.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
obj/Debug/net8.0/JsonTools.AssemblyInfo.cs
obj/Debug/net8.0/JsonTools.AssemblyInfoInputs.cache
obj/Debug/net8.0/JsonTools.assets.cache
obj/Debug/net8.0/JsonTools.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0/JsonTools.GlobalUsings.g.cs
JsonToolsTests/obj/JsonToolsTests.csproj.nuget.dgspec.json
JsonToolsTests/obj/JsonToolsTests.csproj.nuget.g.props
JsonToolsTests/obj/JsonToolsTests.csproj.nuget.g.targets
JsonToolsTests/obj/project.assets.json
JsonToolsTests/obj/project.nuget.cache
JsonToolsTests/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
JsonToolsTests/obj/Debug/net8.0/JsonToolsTests.AssemblyInfo.cs
JsonToolsTests/obj/Debug/net8.0/JsonToolsTests.AssemblyInfoInputs.cache
JsonToolsTests/obj/Debug/net8.0/JsonToolsTests.assets.cache
JsonToolsTests/obj/Debug/net8.0/JsonToolsTests.csproj.AssemblyReference.cache
JsonToolsTests/obj/Debug/net8.0/JsonToolsTests.GeneratedMSBuildEditorConfig.editorconfig
JsonToolsTests/obj/Debug/net8.0/JsonToolsTests.GlobalUsings.g.cs
